.bg{
background-image: url("https://demos.creative-tim.com/marketplace/material-kit-pro/assets/img/bg0.jpg");
background-size: cover;
/* height: 100vh; */
}
/* .navstyle{
    color: white;
    font-size: 20px;
    padding-left: 10px;
} */